{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

<div class="container" style="margin-top: 50px;">
<h2 class="text-center" style="font-weight: bold;">About Us</h2>

<div class="bg">
    
        <div id="promo">
            <div class="jumbotron">
                <h1 style="font: normal 50px Cookie,cursive; color:blue;">Welcome To About Us Page
                </h1><hr>
                <p style="color:brown; font-size: 30px; font-weight: bold;">Hospital Management System.</p>
                <p style="color:brown;">It is a powerful platform designed for Hospitals and Clinics</p>
                <p style="color:brown;">System Ingegrates Patients Record in a seamless manner. It helps you keep track activities in your Hospital.</p>
                <p style="color:brown;">Hospital Management System Portal will be very user-friendly such that a person who does no have much experience of the internet can also use the system with ease.</p>
                <p style="color:brown;">Helping you keep a synchronized record that simplifies Hospital Management.</p><br>
                <p class="line" style="font: normal 70px Cookie,cursive; font-size:30px; color:rgb(58, 102, 8);">" Better Care and Better Understanding "</p>
            </div><br><br>
        </div>

    </div>
    <br>
    <br>
</div>

{% endblock %}